APP_PASSWORD=tu_contraseña_de_aplicacion_aqui

SHEET_URL=https://docs.google.com/spreadsheets/d/1JiB0WJPRTcq5yE1Zy3jW7n7K2hgfdRNcwXhiS8P1XTI/edit?usp=sharing
SENDER_EMAIL=tu_correo@gmail.com
RECIPIENT_EMAIL=destinatario@correo.com

AI_INSIGHTS_ENABLED=false
OPENAI_API_KEY=tu_api_key_de_openai
OPENAI_MODEL=gpt-4o-mini
